
h1 {
    color:var(--quinary-color);
    font-weight: lighter;
  }


.lista-historial {
    margin: 0 auto;
    padding: 0;
}

.lista-historial li {
    color:var(--quinary-color);
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Separar contenido */
    align-items: center; /* Centrar verticalmente */
  }